@import '../base/variables.scss';

.form-group {
    margin-bottom: 2em;

    label {
        float: left;
        width: 11em;
        margin-right: .5em;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .5em;
        font-weight: bold;
    }

    button {
        margin-right: .5em;
        
        &:first-child {
            margin-left: 15em;
        }
    }
}

input[type="password"], input[type="number"], input[type="text"], select, textarea {
    width: 25em;
    box-sizing: border-box;
    padding: .3em .4em;
    border: $border;
    transition: all 0.30s ease-in-out;
    font-family: $font-family;
    font-size: 1em;

    &:focus {
        outline: none;
        border: 2px solid $color-focus;
        box-shadow: 0 0 6px $color-primary;
    }
}

textarea {
    height: 20em;
}

input[type="button"], input[type="submit"], button {
    padding: .5em;
    background-color: $color-secondary;
    border: $border;
    box-shadow: $shadow;
    color: black;
    font-weight: bold;
    position: relative;
    top: -2px;
    min-width: 5em;
    cursor: pointer;

    &:active {
        background-color: $color-secondary-dark;
        box-shadow: $shadow-collapse;
        top: 2px;
    }
}

input.chk {
    height: 1.5em;
    width: 1.5em;
    padding: .5em;
    top: .4em;
    position: relative;
}

ul.error {
    max-width: 30em;
    margin-bottom: 2em;
    color: $color-error;
}

@media (max-width:680px) {
    .form-group {
        label {
            text-align: left;
        }

        input[type="button"], input[type="submit"], button {
            margin: 0;
        }
    }
}

@media (max-width:420px) {
    body {
        font-size: 90%;
    }

    .topbar .title {
        display: none;
    }

    input[type="password"], input[type="number"], input[type="text"], select, textarea {
        width: 23em;
    }
}