@import '../base/variables.scss';

table {
    width: 100%;
    padding: 1em;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
        text-align: left;
    }

    th, td {
        border-bottom: $border;
    }

    th, td {
        padding: .5em 1em;
    }

    &.hover tbody tr:hover {
        cursor: pointer;
        background-color: $color-focus;
    }
}