<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>FoodStuffs - Error</title>
  <base href="~/" />
</head>
<body>
  <style>
    @@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

    html {
      height: 100%
    }

    body {
      font-family: Source Sans Pro,sans-serif;
      color: #642b61;
      background-color: #fbf3ed;
      margin: 0
    }

    main {
      padding-top: 3em;
      padding-left: 1em;
      padding-right: 1em
    }

    .text-center {
      text-align: center
    }
  </style>
  <main class="text-center">
    <h1>Error</h1>
    <h2>There was a problem getting the page you requested.</h2>
  </main>
</body>
</html>