@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

    <input type="button" name="name" value="Press Me" />
</section>
<section>
    <table id="recipe-table" class="hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ingredients</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="recipe in recipes">
                <td>{{recipe.name}}</td>
                <td>{{recipe.ingredients}}</td>
            </tr>
        </tbody>
    </table>
</section>