<header>
    <div class="topbar">
        <div>
            <a class="logo" href="#">
                <img src="~/img/logo.png" alt="FoodStuffs" />
            </a>
            <a class="title" href="#">
                FoodStuffs
            </a>
        </div>
        <a href="#">Login</a>
    </div>
</header>

<main>
    <section>
        <ul id="message-center" class="error">
            <li v-if="messages.length > 0" v-for="message in messages">{{message.errorMessage}}</li>
        </ul>
    </section>
    <section>
        <div id="recipe-table">
            <button v-on:click="newRecipe()">New</button>
            <table class="hover">

                <tbody>
                    <tr v-for="recipe in recipes" v-on:click="select(recipe)">
                        <td>{{recipe.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form id="recipe-form" v-if="currentRecipe !== null">
            <h1>Edit Recipe</h1>
            <div class="form-group">
                <label title="Name">Name</label>
                <input type="text" name="name" v-model="currentRecipe.name" />
            </div>
            <div class="form-group">
                <label title="Ingredients">Ingredients</label>
                <textarea name="ingredients" v-model="currentRecipe.ingredients"></textarea>
            </div>
            <div class="form-group">
                <label title="Directions">Directions</label>
                <textarea name="stuff" v-model="currentRecipe.directions"></textarea>
            </div>
            <div class="form-group">
                <label title="Prep Time (minutes)">Prep Time (minutes)</label>
                <input type="number" name="prepTimeMinutes" v-model="currentRecipe.prepTimeMinutes" />
            </div>
            <div class="form-group">
                <label title="Cook Time (minutes)">Cook Time (minutes)</label>
                <input type="number" name="cookTimeMinutes" v-model="currentRecipe.cookTimeMinutes" />
            </div>
            <div class="form-group">
                <label title="Categories">Categories</label>
                <div>
                    <span v-for="category in currentRecipe.categories">{{category}}</span>
                </div>
            </div>
            <div class="form-group">
                <label></label>
                <button v-on:click.prevent="update(currentRecipe)">
                    Update
                </button>
                <button v-on:click.prevent="cancel()">
                    Cancel
                </button>
            </div>
        </form>
    </section>
</main>

<footer>
    <div class="text-center">&copy; FoodStuffs</div>
</footer>