@{
    ViewData["Title"] = "Home Page";
}

<section>
    <ul id="message-center" class="message-center">
        <li v-for="message in messages">{{message.errorMessage}}</li>
    </ul>
    <div id="recipe-table">
        <h1>Recipes</h1>
        <div class="text-right">
            <a v-on:click="newRecipe()">New</a>
        </div>
        <table class="hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Ingredients</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="recipe in recipes" v-on:click="select(recipe)">
                    <td>{{recipe.name}}</td>
                    <td>{{recipe.ingredients}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section>
    <h1>Edit Recipe</h1>
    <form id="recipe-form" v-if="currentRecipe !== null">

        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" v-model="currentRecipe.name" />
        </div>
        <div class="form-group">
            <label>Ingredient</label>
            <input type="text" name="ingredients" v-model="currentRecipe.ingredients" />
        </div>
        <div class="form-group">
            <label>Directions</label>
            <textarea name="stuff" v-model="currentRecipe.directions"></textarea>
        </div>
        <div class="form-group">
            <label>Prep Time (minutes)</label>
            <input type="number" name="prepTimeMinutes" v-model="currentRecipe.prepTimeMinutes" />
        </div>
        <div class="form-group">
            <label>Cook Time (minutes)</label>
            <input type="number" name="cookTimeMinutes" v-model="currentRecipe.cookTimeMinutes" />
        </div>
        <div class="form-group">
            <label>Categories</label>
            <div>
                <span v-for="category in currentRecipe.categories">{{category.name}}</span>
            </div>
        </div>
        <div class="form-group">
            <button>
                Save
            </button>
            <button v-on:click="cancel()">
                Cancel
            </button>
        </div>
    </form>
</section>