@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

    <input type="button" name="name" value="Press Me" />
</section>
<section>
    <table id="recipe-table" class="hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ingredients</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="recipe in recipes" v-on:click="selectRecipe(recipe)">
                <td>{{recipe.name}}</td>
                <td>{{recipe.ingredients}}</td>
            </tr>
        </tbody>
    </table>
</section>
<section>

    <form id="recipe-form" v-if="currentRecipe !== null">
        
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" v-model="currentRecipe.name"/>
        </div>
        <div class="form-group">
            <label>Ingredient</label>
            <input type="text" name="name" v-model="currentRecipe.ingredients"/>
        </div>
        <div class="form-group">
            <label>Directions</label>
            <textarea name="stuff" v-model="currentRecipe.directions"></textarea>
        </div>
        <div class="form-group">
            <button>
                Save
            </button>
            <button v-on:click="clearCurrent()">
                Cancel
            </button>
        </div>
    </form>
</section>