@import './variables';

html {
    height: 100%;
}

body {
    font-family: $font-family;
    color: $contrast2;
    background-color: $color-background;
    margin: 0;
}

header, main {
    padding-left: 1em;
    padding-right: 1em;
}

header > .topbar, nav > div, main, footer > div {
    margin: 0 auto;
    max-width: $contained-width;
}

main > section {
    display: flex;
    margin-top: 1.5em;

    & > *:not(:first-child) {
        margin-left: 2em;
    }
}

footer {
    border-top: $border;
    padding: 1em 0em;
}

h1, h2, h3, h4 {
    color: $color-primary-dark
}

a, a:link {
    text-decoration: none;
    color: $color-primary-dark;
    cursor: pointer;

    &:hover, &:active {
        color: $color-secondary-dark;
    }
}

header {
    background-color: $color-primary-dark;
    box-shadow: $shadow;
    z-index: 1000;
    position: relative;

    .topbar {
        display: flex;
        justify-content: space-between;
        height: 4em;

        & > div {
            display: flex;
            justify-content: space-between;
            height: 100%;
        }

        a, a-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $color-ternary;

            &:hover, &:active {
                color: $color-secondary-dark;
            }

            &.logo {
                margin-right: 1em;
                height: 100%;

                img {
                    width: auto;
                    height: 70%;
                }
            }

            &.title {
                font-size: 150%;
                font-weight: bold;
                color: $color-secondary-dark;

                &:hover, &:active {
                    color: $color-secondary;
                }
            }
        }
    }
}

nav {
    background-color: $color-primary-dark;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: $color-primary-dark;
        z-index: 1000;

        li {
            display: block;
            position: relative;
            text-align: center;
            min-width: 25%;

            &:hover > ul {
                display: block;
                position: absolute;
            }

            a, a:link {
                display: block;
                padding: 1em .5em;
                white-space: nowrap;

                &:link, &:visited {
                    color: $contrast1;
                }

                &.current-page {
                    color: $color-secondary-dark;
                }

                &:hover, &:active {
                    background-color: mix($color-primary-dark, $color-ternary, 90%);
                    color: $color-secondary;
                    box-shadow: $highlight-border;
                }
            }
        }

        ul {
            display: none;
            width: 100%;
            box-shadow: $shadow;

            ul {
                left: 100%;
                top: 0;
                box-shadow: $shadow;
            }
        }
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

@media #{$extra-large-screen} {
    body {
        font-size: 130%;
    }
}

@media #{$medium-screen} {
    main > section {
        flex-direction: column;

        & > *:not(:first-child) {
            margin-left: 0;
        }
    }
}

@media #{$small-screen} {
    body {
        font-size: 90%;
    }

    .topbar .title {
        display: none;
    }
}