@import './variables';

form {
    flex-grow: 1;
    margin-bottom: 0;

    .form-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 1.5em;
        }
    }

    .form-group {
        display: flex;
        flex-grow: 1;

        &.danger {
            label {
                color: $color-danger;
            }

            input [type="password"], input[type="number"], input[type="text"], select, textarea {
                border-color: $color-danger;
            }
        }

        label {
            width: 8em;
            min-width: 8em;
            margin-right: .5em;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: .5em;
            font-weight: bold;
            min-height: 1em;
        }

        input[type="button"], input[type="submit"], button {
            &.pull-right {
                margin-left: auto;
            }
        }

        input [type="password"], input[type="number"], input[type="text"], select, textarea, input[type="button"], input[type="submit"], button, span {
            margin-bottom: .5em;

            &:not(:last-child) {
                margin-right: .5em;
            }
        }

        input [type="password"], input[type="number"], input[type="text"], select, textarea {
            flex-grow: 1;
            width: auto;
        }
    }
}

@media #{$medium-screen} {
    form {
        h1 {
            display: none;
        }

        .form-group {
            label {
                width: 4em;
            }
        }
    }
}

input[type="password"], input[type="number"], input[type="text"], select, textarea {
    box-sizing: border-box;
    padding: .3em .4em;
    border: $border;
    box-shadow: $shadow;
    font-family: $font-family;
    font-size: 1em;
    width: 25em;

    &:focus {
        outline: none;
        border-color: $color-focus;
        box-shadow: $input-focus;
    }
}

textarea {
    height: 10em;
}

input[type="button"], input[type="submit"], button {
    padding: .5em;
    background-color: $color-secondary;
    border: $border;
    box-shadow: $shadow;
    color: black;
    font-weight: bold;
    position: relative;
    min-width: 5em;
    cursor: pointer;

    &:active {
        background-color: $color-secondary-dark;
        box-shadow: $shadow-collapse;
        top: 4px;
    }

    &.danger {
        background: $color-danger-background;

        &:focus {
            outline: none;
            border-color: $color-danger;
        }

        &:active {
            background-color: $color-danger-background-dark;
        }
    }
}

input.chk {
    height: 1.5em;
    width: 1.5em;
    padding: .5em;
    top: .4em;
    position: relative;
}