@import './variables';

form {
    margin-bottom: 0;
    width: 100%;

    h1 {
        margin-top: 0;
    }

    .form-row {
        display: flex;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 1.5em;
        }

        input[type="button"], input[type="submit"], button {
            &.pull-right {
                margin-left: auto;
            }
        }

        .form-group {
            display: flex;
            flex-direction: column-reverse;
            flex-grow: 1;

            &.danger {
                label {
                    color: $color-danger;
                }

                input [type="password"], input[type="number"], input[type="text"], select, textarea {
                    border-color: $color-danger;
                }
            }

            &:not(:last-child) {
                margin-right: 2em;
            }

            label {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
                margin-bottom: .2em;
            }
        }
    }

    input[type="password"], input[type="number"], input[type="text"], select, textarea, input[type="button"], input[type="submit"], button, span {
        margin-bottom: .5em;

        &:not(:last-child) {
            margin-right: .5em;
        }
    }
}

input[type="password"], input[type="number"], input[type="text"], select, textarea {
    padding: .3em .4em;
    border: $border;
    box-shadow: $shadow;
    font-family: $font-family;
    font-size: 1em;
    width: 100%;

    &:focus {
        outline: none;
        border-color: $color-focus;
        box-shadow: $input-focus;
    }
}

textarea {
    height: 10em;
}

input[type="button"], input[type="submit"], button {
    padding: .5em;
    background-color: $color-secondary;
    border: $border;
    box-shadow: $shadow;
    color: black;
    font-weight: bold;
    position: relative;
    min-width: 5em;
    cursor: pointer;
    white-space: nowrap;

    &:active {
        background-color: $color-secondary-dark;
        box-shadow: $shadow-collapse;
        top: 4px;
    }

    &.danger {
        background: $color-danger-background;

        &:focus {
            outline: none;
            border-color: $color-danger;
        }

        &:active {
            background-color: $color-danger-background-dark;
        }
    }
}

input.chk {
    height: 1.5em;
    width: 1.5em;
    padding: .5em;
    top: .4em;
    position: relative;
}

@media #{$medium-screen} {
    form .form-row .form-group:not(:last-child) {
        margin-right: 0;
    }

    .form-row:not(.button-row) {
        flex-direction: column;
    }
}