@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$color-primary-dark: rgba(100, 43, 97, 1);
$color-primary: lighten($color-primary-dark, 8%);

$color-secondary-dark: rgba(114, 196, 203, 1);
$color-secondary: lighten($color-secondary-dark, 8%);

$color-ternary-dark: rgba(244, 222, 203, 1);
$color-ternary: lighten($color-ternary-dark, 8%);

$color-neutral: black;
$color-neutral-medium: lightgray;
$color-neutral-inverse: white;

$color-danger: rgba(178, 30, 30, 1);
$color-danger-background: rgba(250, 103, 95, 1);
$color-danger-background-dark: darken($color-danger-background, 6%);

$color-background: $color-ternary;
$color-border: rgba(37, 40, 53, 1);
$color-focus: rgba($color-primary, .9);

$highlight-border: inset 0 0 1px $color-neutral-inverse, inset 0 0 3px $color-neutral-inverse, inset 0 0 5px $color-neutral-inverse;
$border: 1px solid mix($color-border, $color-neutral-inverse, 70%);
$shadow: 2px 3px 2px rgba($color-border, .5);
$input-focus: 2px 3px 2px rgba($color-focus, .5);
$shadow-collapse: 1px 1px 2px rgba($color-border, .5);
$font-family: "Source Sans Pro", sans-serif;

$contained-width: 70em;

$extra-large-screen: "(min-width:1921px)";
$medium-screen: "(max-width:880px)";
$small-screen: "(max-width:420px)";