@import '../variables';

.recipe-form {
    flex-grow: 1;

    h1 {
        margin-top: 0;
    }

    .form-group {
        margin-bottom: 2em;
        display: flex;

        label {
            width: 8em;
            margin-right: .5em;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: .5em;
            font-weight: bold;
            min-height: 1em;
        }

        button {
            &.pull-right {
                margin-left: auto;
            }

            &.error {
                background: $color-error-background;
            }

            &:not(:last-child) {
                margin-right: .5em;
            }
        }

        div {
            padding: .5em 0;
            box-sizing: border-box;

            span:not(:last-child):after {
                content: ", ";
            }
        }

        input [type="password"], input[type="number"], input[type="text"], select, textarea {
            flex-grow: 1;
            width: auto;
        }
    }
}

@media #{$medium-screen} {
    .recipe-form {
        h1 {
            display: none;
        }

        .form-group {
            label {
                width: 4em;
            }
        }
    }
}

input[type="password"], input[type="number"], input[type="text"], select, textarea {
    box-sizing: border-box;
    padding: .3em .4em;
    border: $border;
    transition: all 0.30s ease-in-out;
    font-family: $font-family;
    font-size: 1em;
    width: 25em;

    &:focus {
        outline: none;
        border: 2px solid $color-focus;
        box-shadow: 0 0 6px $color-primary;
    }
}

textarea {
    height: 20em;
}

input[type="button"], input[type="submit"], button {
    padding: .5em;
    background-color: $color-secondary;
    border: $border;
    box-shadow: $shadow;
    color: black;
    font-weight: bold;
    position: relative;
    min-width: 5em;
    cursor: pointer;

    &:active {
        background-color: $color-secondary-dark;
        box-shadow: $shadow-collapse;
        top: 4px;
    }
}

input.chk {
    height: 1.5em;
    width: 1.5em;
    padding: .5em;
    top: .4em;
    position: relative;
}