@import '@/styles/theme';
@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-svg-core/styles.css';

// Sticky footer
html,
body {
  --bs-primary: #{$bg-navbar};
  --bs-primary-rgb: #{red($bg-navbar), green($bg-navbar), blue($bg-navbar)};
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
#app {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#skip-nav,
#header,
#message-center,
#footer {
  flex-grow: 0;
  flex-shrink: 0;
}
#main {
  flex-grow: 1;
}

.navbar-dark {
  background-color: var(--bg-navbar);
}

// Bootstrap hides nav-link focus ring
.nav-link:focus-visible {
  outline: auto;
}

.slim-scroll {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 1px;
    height: 36px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bs-body-color);
    outline: 1px solid var(--bs-body-color);
    border-radius: 30px;
    height: 10px;
  }
}

.card {
  --bs-accordion-btn-icon-width: #{$accordion-icon-width};
  --bs-accordion-btn-icon: #{escape-svg($accordion-button-icon)};
  --bs-accordion-btn-icon-transition: #{$accordion-icon-transition};
  --bs-accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
  --bs-accordion-btn-icon-transform: #{$accordion-icon-transform};
  --bs-accordion-btn-padding-y: #{$accordion-button-padding-y};
  --bs-accordion-btn-padding-x: #{$accordion-button-padding-x};
  --bs-accordion-btn-color: #{$accordion-button-color};
  --bs-accordion-btn-bg: #{$accordion-button-bg};

  &.card-hover,
  .card-hover {
    &:hover:not(.active),
    &:focus-visible {
      background-color: var(--bs-gray-200);
    }

    &:focus-visible {
      outline: auto;
    }
  }

  .card-link {
    text-decoration: none;
    color: unset;
  }

  .card-floating-toolbar {
    position: absolute;
    top: 0;
    right: 0;
  }

  .btn-card-control {
    padding: 0.5rem var(--bs-card-cap-padding-x);
    display: inline-block;
  }
}

.nav-search-button,
.navbar-toggler {
  border: var(--bs-border-width) solid var(--bs-gray-600);

  &:hover {
    border-color: var(--bs-border-color);
  }

  &:focus {
    box-shadow: none;
  }
}

.spinner-border {
  color: rgba(var(--bs-body-color-rgb), 0.3);
}

.gap-sm {
  row-gap: 1em;
  column-gap: 1em;
}

.gap-none {
  row-gap: 0;
  column-gap: 0;
}

html[data-bs-theme='dark'] {
  --bs-body-bg: #{$dark};

  // Pagination active link
  .page-item.active > .page-link {
    border-color: unset;
  }

  .card,
  .list-group,
  .list-group-item:not(.active) {
    background-color: inherit;
    color: inherit;
    outline: var(--bs-gray-800) 1px solid;

    &.card-hover,
    .card-hover {
      &:hover:not(.active),
      &:focus-visible {
        background-color: var(--bs-gray-800);

        .card-link:hover {
          background-color: inherit;
          color: inherit;
        }
      }

      &:focus-visible {
        outline: auto;
      }
    }
  }

  .pagination {
    --bs-pagination-bg: unset;
    --bs-pagination-disabled-bg: unset;
  }

  .accordion,
  .accordion-button::after,
  .card {
    --bs-accordion-active-bg: var(--bs-gray-800);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
}

// Printable screens
@media print {
  div {
    background-color: var(--bs-white);
  }

  button,
  .btn {
    display: none;
  }

  p,
  pre,
  h1,
  h2,
  h3,
  h4 {
    color: var(--bs-black);
  }
}
