$primary: #642b61;
$danger: #ad1d2a;
$dark: #1c1e1f;
$light: #e6e6e6;

$font-family-sans-serif: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',
  'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

$print-page-size: auto;

$carousel-indicator-height: 4px;
$carousel-control-color: var(--bs-primary);
$carousel-indicator-active-bg: var(--bs-white);
$carousel-control-prev-icon-bg: url('@/img/carousel-control-prev.svg');
$carousel-control-next-icon-bg: url('@/img/carousel-control-next.svg');

$enable-grid-classes: false;
$enable-cssgrid: true;
