$primary: #557244;
$secondary: #e8e3de;
$body-color: #000;
$body-bg: #fdfbf4;
$light: #faf8f4;
$dark: #191919;
$success: #2f6304;
$danger: #b85454;
$info: #8c8c8c;

$gray-100: #f0eeec;
$gray-200: #d9d4d1;
$gray-300: #c2bab5;
$gray-400: #aba099;
$gray-500: #b0a9a1;
$gray-600: #8a817b;
$gray-700: #736b66;
$gray-800: #5c5550;
$gray-900: #453f3b;

$bg-navbar: #5a4433;

$font-family-sans-serif: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',
  'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

$print-page-size: auto;

$carousel-indicator-height: 4px;
$carousel-control-color: var(--bs-primary);
$carousel-indicator-active-bg: var(--bs-white);
$carousel-control-prev-icon-bg: url('@/img/carousel-control-prev.svg');
$carousel-control-next-icon-bg: url('@/img/carousel-control-next.svg');

$enable-grid-classes: false;
$enable-cssgrid: true;
