<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodStuffs</title>
    <base href="~/" />

    <link href="~/wwwroot/app.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
</body>
</html>