<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodStuffs</title>

    <link rel="stylesheet" href="~/css/main.min.css" />
</head>
<body>
    <header>
        <div class="topbar">
            <div>
                <a class="logo" href="#">
                    <img src="~/favicon.ico" alt="Foodstuffs" />
                </a>
                <a class="title" href="#">
                    FoodStuffs
                </a>
            </div>
            <a href="/account">Login</a>
        </div>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="/" class="current-page">Home</a>
                        <ul>
                            <li>
                                <a href="#">Recipes</a>
                                <ul>
                                    <li>
                                        <a href="#">Recipes</a>
                                        <ul>
                                            <li><a href="#">Recipes</a></li>
                                            <li><a href="#">Tags</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Tags</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Tags</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Search</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div>
            @RenderBody()
        </div>
    </main>

    <footer>
        <div class="text-center">&copy; FoodStuffs</div>
    </footer>

    <environment names="Development">
        <script src="~/lib/axios/dist/axios.js"></script>
        <script src="~/lib/vue/dist/vue.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/axios/dist/axios.min.js"></script>
        <script src="~/lib/vue/dist/vue.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>