<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodStuffs</title>
    <base href="~/" />

    <link href="~/dist/app.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/vendor/axios.js"></script>
        <script src="~/vendor/vue.js"></script>
        <script src="~/vendor/vue-router.js"></script>

        <script src="~/dist/app.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/axios.min.js"></script>
        <script src="~/vendor/vue.min.js"></script>
        <script src="~/vendor/vue-router.min.js"></script>

        <script src="~/dist/app.js"></script>
    </environment>

    @RenderSection("Scripts", false)
</body>
</html>