@{
    ViewData["Title"] = "FoodStuffs - Error";
}

@section Style
{
    <link rel="stylesheet" href="~/css/tiny-static.css" />
}

<main class="text-center">
    <h1>Error</h1>
    <h2>There was a problem getting the page you requested.</h2>
</main>
