@{
    ViewData["Title"] = "FoodStuffs - Forbidden";
}

@section Style
{
    <link rel="stylesheet" href="~/css/tiny-static.css" />
}

<main class="text-center">
    <h1>Forbidden</h1>
    <h2>You don't have access to this application.</h2>
</main>
