@using VoidCore.AspNet.Configuration
@inject WebApplicationSettings appConfig
@{
    ViewData["Title"] = $"Home | {appConfig.Name}";
}

@section Style
{
    @* Dev assets *@
    <environment include="Development">
        <script type="module"
            src="https://localhost:5173/@@vite/client">
        </script>
        <link rel="stylesheet"
            href="https://localhost:5173/src/styles/main.scss"
            asp-fallback-href-include="~/assets/main-*.css" />
        <script type="module"
            src="https://localhost:5173/src/main.ts"
            asp-fallback-src-include="~/assets/main-*.js">
        </script>
    </environment>
    @* Deployed styles *@
    <environment exclude="Development">
        <link rel="preload" as="style"
            asp-href-include="~/assets/main-*.css"
            asp-fallback-href-include="~/assets/main-*.css"
            asp-suppress-fallback-integrity="true" />
        <link rel="stylesheet"
            asp-href-include="~/assets/main-*.css"
            asp-fallback-href-include="~/assets/main-*.css"
            asp-suppress-fallback-integrity="true" />
    </environment>
}

@section Script
{
    @* Deployed scripts *@
    <environment exclude="Development">
        <script type="module"
                asp-src-include="~/assets/main-*.js"
                asp-fallback-src-include="~/assets/main-*.js"
                asp-suppress-fallback-integrity="true">
                </script>
    </environment>
}

<noscript>
    <strong>We're sorry but this app doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong>
</noscript>
<div id="app" tabindex="-1"></div>
