@using VoidCore.AspNet.Configuration
@inject WebApplicationSettings appConfig
@inject IConfiguration config
@inject IHostEnvironment env
@{
    ViewData["Title"] = $"Home | {appConfig.Name}";
    var useVueDevServer = env.IsDevelopment() && !config.GetValue<bool>("DisableVueDevServer", false);
}

@section Style
{
    @* Vue dev server *@
    @if(useVueDevServer)
    {
        <script type="module" src="https://localhost:5173/@@vite/client"></script>
        <link rel="stylesheet" href="https://localhost:5173/src/styles/styles-main.scss" />
        <script type="module"src="https://localhost:5173/src/main.ts"></script>
    }

    @* Deployed styles *@
    @if(!useVueDevServer)
    {
        <link rel="preload" as="style" asp-href-include="~/assets/styles-main-*.css" />
        <link rel="stylesheet" asp-href-include="~/assets/styles-main-*.css" />

        <link rel="preload" as="style" asp-href-include="~/assets/main-*.css" />
        <link rel="stylesheet" asp-href-include="~/assets/main-*.css" />
    }
}

@section Script
{
    @* Deployed scripts *@
    @if(!useVueDevServer)
    {
        <script type="module" asp-src-include="~/assets/main-*.js"></script>
    }
}

<noscript>
    <strong>We're sorry but this app doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong>
</noscript>
<div id="app" tabindex="-1"></div>
