@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
html {
  height: 100%; }

body {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  background-color: #fbf3ed;
  margin: 0;
  /* Contain the page to the center of a widescreen */ }
  body header > .topbar, body nav > div, body main > div, body footer > div {
    margin: 0 auto;
    max-width: 60em; }

.topbar, main {
  padding-left: 1em;
  padding-right: 1em; }

section {
  margin-top: 3em;
  margin-bottom: 3em; }

footer {
  border-top: 1px solid #666972;
  padding: 1em 0em; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

h1, h2, h3, h4 {
  color: #642b61; }

a, a:link {
  text-decoration: none;
  color: #642b61;
  cursor: pointer; }
  a:hover, a:active, a:link:hover, a:link:active {
    color: #72c4cb; }

header {
  background-color: #f4decb; }
  header .topbar {
    display: flex;
    justify-content: space-between;
    height: 4em; }
    header .topbar > div {
      display: flex;
      justify-content: space-between;
      height: 100%; }
    header .topbar a {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .topbar a.logo {
        margin-right: 1em;
        height: 100%; }
        header .topbar a.logo img {
          width: auto;
          height: 70%; }
      header .topbar a.title {
        font-size: 150%;
        font-weight: bold; }

@media (min-width: 1921px) {
  body {
    font-size: 130%; } }

@media (max-width: 420px) {
  body {
    font-size: 90%; }
  .topbar .title {
    display: none; } }

nav {
  background-color: #642b61;
  box-shadow: 2px 3px 2px rgba(37, 40, 53, 0.5); }
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #642b61;
    z-index: 1000; }
    nav ul li {
      display: block;
      position: relative;
      text-align: center;
      min-width: 25%; }
      nav ul li:hover > ul {
        display: block;
        position: absolute; }
      nav ul li a, nav ul li a:link {
        display: block;
        padding: 1em .5em;
        white-space: nowrap; }
        nav ul li a:link, nav ul li a:visited, nav ul li a:link:link, nav ul li a:link:visited {
          color: white; }
        nav ul li a.current-page, nav ul li a:link.current-page {
          color: #72c4cb; }
        nav ul li a:hover, nav ul li a:active, nav ul li a:link:hover, nav ul li a:link:active {
          background-color: #733f6f;
          color: #90d0d6;
          box-shadow: inset 0 0 1px white, inset 0 0 3px white, inset 0 0 5px white; }
    nav ul ul {
      display: none;
      width: 100%;
      box-shadow: 2px 3px 2px rgba(37, 40, 53, 0.5); }
      nav ul ul ul {
        left: 100%;
        top: 0;
        box-shadow: 2px 3px 2px rgba(37, 40, 53, 0.5); }

table {
  width: 100%;
  padding: 1em;
  border-collapse: collapse;
  border-spacing: 0; }
  table tr {
    text-align: left; }
  table th, table td {
    border-bottom: 1px solid #666972; }
  table th, table td {
    padding: .5em 1em; }
  table.hover tbody tr:hover {
    cursor: pointer;
    background-color: rgba(129, 55, 125, 0.5); }

.form-group {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  .form-group label {
    width: 11em;
    margin-right: .5em;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .5em;
    font-weight: bold; }
  .form-group button {
    margin-right: .5em; }
    .form-group button:first-child {
      margin-left: 15em; }
  .form-group div {
    padding: .5em 0;
    width: 25em;
    box-sizing: border-box; }
    .form-group div span:not(:last-child):after {
      content: ", "; }

input[type="password"], input[type="number"], input[type="text"], select, textarea {
  width: 25em;
  box-sizing: border-box;
  padding: .3em .4em;
  border: 1px solid #666972;
  transition: all 0.30s ease-in-out;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em; }
  input[type="password"]:focus, input[type="number"]:focus, input[type="text"]:focus, select:focus, textarea:focus {
    outline: none;
    border: 2px solid rgba(129, 55, 125, 0.5);
    box-shadow: 0 0 6px #81377d; }

textarea {
  height: 20em; }

input[type="button"], input[type="submit"], button {
  padding: .5em;
  background-color: #90d0d6;
  border: 1px solid #666972;
  box-shadow: 2px 3px 2px rgba(37, 40, 53, 0.5);
  color: black;
  font-weight: bold;
  position: relative;
  top: -2px;
  min-width: 5em;
  cursor: pointer; }
  input[type="button"]:active, input[type="submit"]:active, button:active {
    background-color: #72c4cb;
    box-shadow: 1px 1px 2px rgba(37, 40, 53, 0.5);
    top: 2px; }

input.chk {
  height: 1.5em;
  width: 1.5em;
  padding: .5em;
  top: .4em;
  position: relative; }

ul.error {
  max-width: 30em;
  margin-bottom: 2em;
  color: crimson; }

@media (max-width: 680px) {
  .form-group label {
    text-align: left; }
  .form-group input[type="button"], .form-group input[type="submit"], .form-group button {
    margin: 0; } }

@media (max-width: 420px) {
  body {
    font-size: 90%; }
  .topbar .title {
    display: none; }
  input[type="password"], input[type="number"], input[type="text"], select, textarea {
    width: 23em; } }

