@import "../variables";
@import "../inputs";

div {
    display: flex;
    flex-flow: wrap;

    input[type="text"] {
        width: 15em;
    }

    & > * {
        margin-bottom: .2em;

        & :not(:last-child) {
            margin-right: .2em;
        }
    }

    .tag {
        background-color: $color-neutral-aux;
        box-sizing: border-box;
        padding: .3em .6em;
        border: $border;
        box-shadow: $shadow;
    }

    .tag-remove-button:hover {
        cursor: pointer;
        color: $color-danger;
    }
}