@import "../variables";
@import "../inputs";

.form-group > div {
    display: inline-block;
    width: 100%;

    & > div {
        display: flex;
    }

    .tags {
        display: flex;
        flex-flow: wrap;

        & > span {
            background-color: $color-neutral-aux;
            box-sizing: border-box;
            padding: .3em .6em;
            border: $border;
            box-shadow: $shadow;

            & > span:hover {
                cursor: pointer;
                color: $color-danger;
            }
        }
    }
}