@import "../variables";
@import "../inputs";

.categories > span:not(:last-child):after {
    content: ", ";
}

p {
    margin-bottom: 1.5em;
}

hr {
    margin: 1em 0em;
}

@media screen {
    h1 {
        margin-top: 0;
    }
}