@import '../variables';

ul {
  margin: 0;
  background-color: $color-secondary;
  padding: 1em 1em 1em 2.5em;
  list-style: none;
  width: 100%;
  text-align: center;
  box-shadow: $shadow;
}

ul.error {
  background-color: $color-error-background;
}

ul > li {
  margin: 0 auto;
  max-width: ($contained-width * 0.80);
}
