@import "../variables";
@import "../inputs";

table {
    width: 15em;
    padding: 1em;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
        text-align: left;
    }

    th {
        border-bottom: $border;
    }

    td {
        border-bottom: $border-light;
    }

    th, td {
        padding: .5em 1em;
    }

    tbody tr:hover {
        cursor: pointer;
        background-color: mix($color-ternary, $color-secondary, 60%);
        box-shadow: $highlight-border;
    }
}

@media #{$medium-screen} {
    table {
        width: 100%;
    }
}