@import "../variables";
@import "../inputs";

table {
    width: 15em;
    padding: 1em;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2em;

    tr {
        text-align: left;
    }

    th, td {
        border-bottom: $border;
        border-top: $border;
        padding: .5em 1em;
    }

    &.hover tbody tr:hover {
        cursor: pointer;
        background-color: $color-focus;
    }
}

@media #{$medium-screen} {
    table {
        width: 100%;
    }
}